html {
  height: 100%;
  background-color: #252525;
}

body {
  background-color: #252525;
  display: inline-block;
  text-align: center;
}

  .container-fluid {
  display: none;
  height: 100%;
}

.playlistItem {
  margin: auto;
  border-style: solid;
  border-width: 10px;
  border-color: #1DB954;
  border-radius: 6px;
  color: white;
  background-color: #009234;
  width: auto;
  height: auto;
  font-size: 28px;
  padding: 50px;
}
.playlistItem:hover {
  background-color: black;
  color: white;
}
