html {
  height: 100%;
  background-color: #252525;
}

body {
  background-color: #252525;
  display: inline-block;
  place-items: center;
  margin: auto;
}

[class='col text-center'] {
  margin: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: #009234;
  border-radius: 6px;
  color: white;
  background-color: #1DB954;
  width: auto;
  height: auto;
  font-size: 28px;
  padding: 50px;
}
.playlistItem:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.playlistItem {
  background-color: #1DB954;
  color: white;
  border-color: #1DB954
}
